@model Fundraising_Capstone2.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dailyFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dailyFunds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weeklyFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weeklyFunds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyFunds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quarterlyFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quarterlyFunds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yearlyFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yearlyFunds)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
