@model IEnumerable<Fundraising_Capstone2.Models.Callee>

@{
    ViewBag.Title = "Callees";
}

<!-- script src="~/Scripts/MicrosoftAjax.js"></!--script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script -->
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script>
    function dialNumber(calleeID) {
        $.ajax({
            url: "/Phones/DialAsync",
            type: "POST",
            data: "{CalleeId:"+calleeID+"}",
            contentType:"application/json",
            success: function (result) { alert(result); },
            error: function (result) { alert(result); }
        });
    }
</script>

<h2> Callees </h2>
<body>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
  
         @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CalleeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.callCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.answerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gift)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.giftDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.callHistory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.givingHistory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastCallDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastCallTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nextCallDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nextCallTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.response)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calleeDemeanor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isInterested)
                </td>

                <p>
                    @Html.ActionLink("Create New", "Create")
                <td>
                    @Html.ActionLink("Text", "SendTextAsync", new { id = item.CalleeId })
                    <a onclick="dialNumber(@Html.DisplayFor(modelItem => item.CalleeId));">Dial Number for realz</a>
                    @Ajax.ActionLink("Dial", "DialAsync", new {CalleeId = item.CalleeId }, new AjaxOptions { HttpMethod = "POST",OnFailure="alert('fail');",OnSuccess="alert('success');"})
                    @Html.ActionLink("Edit", "Edit", new { id = item.CalleeId }) 
                    @Html.ActionLink("Details", "Details", new { id = item.CalleeId }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.CalleeId })
                </td>
            </tr>
         }
    </table>
</body>
</html>
