@model List<Fundraising_Capstone2.Models.Callee>

@{
    ViewBag.Title = "Callees";
}

<h2> Callees </h2>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
 
    </p>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Text", "Text", new { id = item.CalleeId })
                    @Html.ActionLink("Call" "Call", new { id = item.CalleeId})
                    @Html.ActionLink("Edit", "Edit", new { id = item.CalleeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CalleeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CalleeId })
                </td>
            </tr>
        }
    </table>
</body>
</html>
