@model Fundraising_Capstone2.Models.Text

@{
    ViewBag.Title = "SendText";
}

<h2>SendText</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Text</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <b>Outgoing</b> @Html.TextBox("outgoingText", "Enter outgoing message", new { style = "color:red" })
    
    <input type="button"
           value="Send"
           onclick="location.href='<%: Url.Action(" outgoingText", "TextsController" ) %'" />

    <b>Incoming</b> @Html.TextBox("", "", new { style = "color:red" })
    <div class=""
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
