@model IEnumerable<Fundraising_Capstone2.Models.Callee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.callCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answerCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.callCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answerCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.phoneNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.phoneNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.phoneNumber })
        </td>
    </tr>
}

</table>
